@model Shoply.Models.Product

@{
    ViewData["Title"] = "Edit";
}
   
        <h2>Edit</h2>

        <h4>Product</h4>
        <hr />
        <div class="row">
            <div class="col-s4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    
                    <div class="input-field">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" required="" aria-required="true" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="input-field">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="input-field">
                        <label asp-for="UnitPrice" class="control-label"></label>
                        <input asp-for="UnitPrice" id="unit_price" onblur="calctsv();" />
                        <span asp-validation-for="UnitPrice" class="text-danger"></span>
                    </div>
                    <div class="input-field">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" id="_quantity" onblur="calctsv();" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="input-field">
                        <label asp-for="StockValue" class="control-label"></label>
                        <input asp-for="StockValue" id="disabled" readonly />
                        <span asp-validation-for="StockValue" class="text-danger"></span>
                    </div>

                    <div class="col-s6">
                        <div class="form-group">
                            <input type="submit" value="Save" class="blue lighten-2 btn btn-default" />
                            <a class="btn btn-default teal lighten-2" asp-action="Index">Back to List</a>
                        </div>
                    </div>

                </form>
               
            </div>
        </div>
 
 

    <script>


    function calctsv() {
        var unit_Price1 = document.getElementById('unit_price').value;
        var _quantity1 = document.getElementById('_quantity').value;
        var totalstock = (unit_Price1 * _quantity1);
        document.getElementById("disabled").label = "";
        document.getElementById("disabled").value = totalstock;

    }

    </script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
