@{
    ViewData["Title"] = "Home Page";
}

@*"background-image:url('~/images/1.jpg'); position:fixed;*@


<div class="row">
    <div class="parallax-container" id="ba">
        <div class="section no-pad-bot" >
            <div class="container">
           
                <h1 class="header center animated bounceInLeft">Shoply!</h1>
                <div class="row center">
                    <h5 class="  header col s12 light">Better Goods, Cheaper Prices!</h5>
                </div>
                <div class="row center">
                    <a asp-controller="products" asp-action="Index"  class="btn-large waves-effect waves-light teal lighten-1">Our Products</a>
                </div>
                <br />
                <br />
            </div>
        </div>
        <div class="parallax">
            <img  id="ls" class="  materialboxed" src="~/images/darken.png">
        </div>

    </div>
</div>



<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="center col s4 offset-s4">
                <h2 class="black-text">FEATURED</h2>
            </div>
        </div>
    </div>
    <div class="col s4 m4">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed" src="~/images/casual-commerce-denim-jacket-1850205.jpg">
                <span class="card-title">GAP Denim Jacket</span>
            </div>
            <div class="card-content">
                <p>Only goes for ¢125.00</p>
            </div>
            <div class="card-action">
                <a href="#">view in items</a>
            </div>
        </div>
    </div>

    <div class="col s4 m4">
        <div class="card teal lighten-2">
            <div class="card-image">
                <img class="materialboxed" src="~/images/beautiful-elegant-eyeglasses-1864848.jpg">
                <span class="card-title">Kurt Cobain Sunglasses</span>
            </div>
            <div class="card-content">
                <p class="white-text"> Only for ¢60.00</p>
            </div>
            <div class="white-text card-action">
                <a class="white-text" href="#">view in items</a>
            </div>
        </div>
    </div>

    <div class="col s4 m4">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed" src="~/images/blur-close-up-depth-of-field-2463276.jpg">
                <span class="card-title">Vans Jacket</span>
            </div>
            <div class="card-content">
                <p>Only for ¢150.00</p>
            </div>
            <div class="card-action">
                <a href="#">VIEw IN ITEMS</a>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container" id="parcon">
    <div class="section no-pad-bot">
        <div class="container">

            <h1 class="header center">Shoply!</h1>
            <div class="row center">
                <h5 class="  header col s12 light">Better Goods, Cheaper Prices!</h5>
            </div>
            <div class="row center">
                <a asp-controller="products" asp-action="Index" class="btn-large waves-effect waves-light teal lighten-1">Our Products</a>
            </div>
            <br />
            <br />
        </div>
    </div>
    <div class="parallax">
        <img id="pp" src="~/images/grodark.png">
    </div>
</div>
<br />
<div class="row">

    <div class="col s4">
        <div class="center promo promo-example">
            <i class="material-icons teal-text lighten-2"> flash_on</i>
            <p class="promo-caption">Lorem Ipsum Dolor</p>
            <p class="light center">
                Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
        </div>
    </div>
    <div class="col s4   teal lighten-2">
        <div class="center promo promo-example">
            <i class="material-icons white-text  ">group</i>
            <p class="promo-caption white-text">Lorem Ipsum Dolor</p>
            <p class="light center white-text">
                Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
        </div>
    </div>
    <div class="col s4">
        <div class="center promo promo-example">
            <i class="material-icons teal-text lighten-2"> settings</i>
            <p class="promo-caption">Lorem Ipsum Dolor</p>
            <p class="light center">
                Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
        </div>
    </div>









</div>
<div class="row">
    <div class="col s12">
        <h4>Locate Us.</h4>
    </div>
</div>  

<div class="row ">
    <div class="col s12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.922152982993!2d-0.22556398517882115!3d5.578526334973558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9a1e19c499d7%3A0x500ed2c504c3efda!2sPersol+Systems+Limited!5e0!3m2!1sen!2sgh!4v1561138461973!5m2!1sen!2sgh" height="450" frameborder="0" style="  width:100%; border:0" allowfullscreen></iframe>
    </div>
</div>

 
